<div class="row animated fadeInDown">
    <div>
        <h1>Dashboard</h1>
        <p>Welcome to your dashboard! You are now logged in.</p>
    </div>

    <section class=" border-bottom white-bg dashboard-header">   
        <div class="middle-box text-left">
            <h2>User Information</h2>
        
            <p>User ID:      <%= user.userId %></p>
            <p>First Name:   <%= user.firstName %></p>
            <p>Last Name:    <%= user.lastName %></p>
            <p>User Name:    <%= user.username %></p>
            <p>Email:        <%= user.email %></p>
            <p>Role:         <%= user.role %></p>
            <p>Active User:  <% if (user.isActive) { %> Active <% } else { %> Not Active <% }; %></p>
            <p>Data:         <%= user.data %></p>
        </div>  
    </section>
</div>

	        
        